<!--Crib this markup from the simplified Quote show view-->
<blockquote class="hero-unit">
  <div>
    <div class="quotation"><%= md @quote.content %></div>
    <div class="source">
      <%= md @quote.source %>
    </div>
  </div>
</blockquote>

<!--Only display the comments list if there are comments...-->
<div class="row">
<% if @quote.comments.count > 0 %>
  <ol class="span5 offset1">
  <% @quote.comments.each do |comment| %>
    <li class="well">
      <p><b><%= comment.username %></b> responded with:</p>
      <div>
        <%= md comment.content %>
      </div>
      <%= link_to 'Delete', quote_comment_path(@quote,comment), class: "btn btn-danger btn-mini pull-right", method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ol>
<% end %>
</div>

<!--...but always display the form for a new comment.-->
<div class="row">
<h2 class="offset1">Have a comment on this quote? Let’s hear it.</h2>

<%= render 'form' %>

<p class="offset1"><%= link_to 'See all quotations', quotes_path %></p>
</div>
